//FOOTER
nav.navbar.navbar-expand-md2 {
    background-color: #333;
    padding: 28px;
    margin: 5% 0 0 0;
    border-top: 4px solid $sec-color;
  }

  .pkn {
    text-align: center;
    padding: 72px 0 42px;
  }
  
  .rodape {
    color: $main-color;
    text-align: center;
    padding: 20px 0 0px;
      font-size: 22px;
    font-family: 'Shadows Into Light', cursive;
  }